:root {
    font-family: system-ui;
    --primary-color: #17181C;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

nav svg{
    color: rgb(185, 185, 14);
}

nav img{
    width: 300px;
    height: 300px;
    margin: 1em 0;
}

nav h1.main-title {
    font-weight: 700;
    color: white;
    font-size: 4em;
    transition: transform 0.5s;
    margin: 1em 0 0 0;
}

nav h6.subtitle {
    color: #a1a1a1;
    font-weight: 700;
    margin-bottom: 2em;

}

h1:hover {
    transform: scale(1.05);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ddd
}

.gradient {
    background: linear-gradient(to bottom, var(--primary-color) 50%, #ddd 0%);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 50%;
    max-width: 700px;
    margin: 0 auto 2em;
    padding: 1em;
    border-radius: 10px;
    gap: 1.5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26), 0 0 15px 0 rgba(0, 0, 0, 0.19);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;
}

.form-wrapper label {
    width: 95%;
    text-align: left;
}

.form-wrapper input {
    width: 90%;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.form-wrapper input.error{
    border: 1px solid red;
}

.form-wrapper input::placeholder {
    color: #aaa;
}

.form-wrapper input.shortened-url{
    width: 90%;
    border: 2.5px solid var(--primary-color);
    text-align: center;
    font-size: 1.1em;
    padding: .7em;
}

.form-wrapper p {
    text-align: left;
    width: 95%;
    font-size: .8em;
    margin: 0;
    color: #17a704;
}

.form-wrapper p.error {
    color: red;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;
    margin-top: .5em;
}

.buttons button {
    padding: 1em 2em;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-color: #bbb;
    cursor: pointer;
    font-weight: bold;
    min-width: 120px;
    max-width: 175px;
    height: 50px;
    max-height: 50px;
}

.buttons button:hover {
    background-color: #aaa;
}

.buttons button.accept:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

button.accept {
    background-color: var(--primary-color);
    color: white;
}

article {
    width: 50%;
    max-width: 700px;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.hidden-input {
    display: none;
}

.hidden-input.fade-in {
    display: flex;
    animation: fadeIn .6s ease-out;
}

.hidden-input.fade-out {
    animation: fadeOut .6s ease-out;
}

@keyframes fadeIn {
    0% {
        height: 0px;
        opacity: 0;
    }

    60% {
        height: 90px;
        opacity: 1;
    }

    100% {
        height: 70px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: flex;
        height: 70px;
        opacity: 1;
    }

    50% {
        height: 90px;
        opacity: .25;
    }

    100% {
        height: 0px;
        opacity: 0;
        display: none;
    }
}

.spinner svg{
    animation: spin 1.5s infinite linear;
    font-size: 1.25em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.link{
    margin-top:2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.link img{
    width: 100%;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5), 0 0 15px 0 rgba(0, 0, 0, 0.19);


}

.link img:hover{
    transform: scale(1.05);
}