<app-navbar></app-navbar>

<div class="gradient">
    <section>
        <div class="form-wrapper">
            <label> URL to shorten:</label>
            <input type="text" [(ngModel)]="originalURLField.value" [ngClass]="{'error': originalURLField.error}" placeholder="{{samplePlaceholder}}">
            <p class="error" *ngIf="originalURLField.error"> {{ originalURLField.error }} </p>
        </div>

        <div class="form-wrapper hidden-input"
            [ngClass]="{'fade-in': customURLField.show,'fade-out': !customURLField.show}">
            <label> Customize your URL:</label>
            <input type="text" [(ngModel)]="customURLField.value" name="asd" (input)="handleCustomInputChange($event)" 
            [ngClass]="{'error': customURLField.error}" placeholder="{{samplePlaceholder}}">
            <p class="error" *ngIf="customURLField.error"> {{ customURLField.error }} </p>
        </div>

        <div class="form-wrapper hidden-input"
            [ngClass]="{'fade-in': shortenedlURLField.show,'fade-out': !shortenedlURLField.show} ">
            <label> Your URL is ready!</label>
            <input disabled class="shortened-url" type="text" [(ngModel)]="shortenedlURLField.value" (input)="handleCustomInputChange($event)">
            <p *ngIf="shortenedlURLField.msg"> {{ shortenedlURLField.msg }} </p>
        </div>

        <div class="buttons">
            <button *ngIf="!shortenedlURLField.show" (click)="toggleCustomField()">Custom</button>
            <button class="accept" *ngIf="!shortenedlURLField.show" (click)="shortenURL()">
                <span *ngIf="!loading">Shorten</span>
                <fa-icon *ngIf="loading" [icon]="facog" class="spinner"></fa-icon>
            </button>

            <button *ngIf="shortenedlURLField.show" (click)="copyToClipboard()">Copy to clipboard</button>
            <button class="accept" *ngIf="shortenedlURLField.show" (click)="resetUI()">Shorten another URL</button>
        </div>


    </section>
</div>

<article>

    <h3> FastURL free URL shortener </h3>

    <p>
        FastURL shortener allows you to shorten your long URLs into custom, easy-to-remember links. Unlike others,
        FastURL is completely free and doesn't require any registration or sign-up. The redirects are instant and
        ads-free, so you can share your links without any hassle.
    </p>

    <hr>

    <h5> How to shorten your links? </h5>

    <p>
        Just paste your link in the input field and click on the "Shorten" button.
        Make sure you copy the whole link, including the "http://" or "https://" part. Otherwise, the link might not work.
        You can also customize your shortened link by clicking on the "Custom" button and entering your desired URL.
    </p>

    <p>
        Once you have your shortened link, you can copy it to your clipboard by clicking on the "Copy to clipboard" button.
        If you want to shorten another link, just click on the "Shorten another URL" button.
    </p>

    <hr>

    <h5> So why is it free? </h5>

    <p>
        This is a simple app developed by a single person as a practice project. You can even check the source code yourself
        on my github page on the link below!
    </p>

    <div class="link">
        <a href="https://github.com/DavidAlvrz/FastURL">
            <img src="images/git.png" alt="Github logo">
        </a>
    </div>



</article>

