<app-navbar></app-navbar>

<div class="gradient">
    <section>
        <div class="form-wrapper">
            <label> URL to shorten:</label>
            <input type="text" [(ngModel)]="originalURLField.value" name="asd">
        </div>

        <div class="form-wrapper hidden-input"
            [ngClass]="{'fade-in': customURLField.show,'fade-out': !customURLField.show}">
            <label> Customize your URL:</label>
            <input type="text" [(ngModel)]="customURLField.value" name="asd" (input)="handleCustomInputChange($event)">
        </div>

        <div class="form-wrapper hidden-input"
            [ngClass]="{'fade-in': shortenedlURLField.show,'fade-out': !shortenedlURLField.show} ">
            <label> Your URL is ready!</label>
            <input disabled type="text" [(ngModel)]="shortenedlURLField.value" name="asd" (input)="handleCustomInputChange($event)">
        </div>
        <div class="buttons">
            <button *ngIf="!shortenedlURLField.show" (click)="toggleCustomField()">Custom</button>
            <button class="accept" *ngIf="!shortenedlURLField.show" (click)="shortenURL()">
                <span *ngIf="!loading">Shorten</span>
                <fa-icon *ngIf="loading" [icon]="facog" class="spinner"></fa-icon>
            </button>

            <button *ngIf="shortenedlURLField.show" (click)="copyToClipboard()">Copy to clipboard</button>
            <button class="accept" *ngIf="shortenedlURLField.show" (click)="resetUI()">Shorten another URL</button>
        </div>


    </section>
</div>

<article>
    <h3> How to shorten your links? </h3>

    <p>
        Just paste your link in the input field and click on the "Shorten" button.
        You can also customize your shortened link by clicking on the "Custom" button.
        You can also view your shortened links by clicking on the "My Links" button in the navigation bar.
    </p>

    <p>
        Just paste your link in the input field and click on the "Shorten" button.
        You can also customize your shortened link by clicking on the "Custom" button.
        You can also view your shortened links by clicking on the "My Links" button in the navigation bar.
    </p>

</article>